// TODO: css-reset, grid, basic styles?

@import "./colors.less";
@import "./reset.less";
@import "./nav-bar.less";
@import "./todo-list.less";

html, body {
	font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
	font-size: 15px;
	color: @color-fg;
	background-color: @color-bg;
}

#main {
	// dodge the nav-bar!
	margin-top: 25px;
}
